target/classes/payload-transform-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5190f1d7-f624-4b17-9fc2-c6508745a8e0" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="payload-transform-demoFlow" doc:id="489d761b-8b7f-423c-b305-0236d2a70b53" >
		<http:listener doc:name="Listener" doc:id="627dcc3e-9b68-4873-ab07-2a399cfb9367" config-ref="HTTP_Listener_config" path="/test"/>
		<ee:transform doc:name="Transform Message" doc:id="c0a27488-02db-4fe0-a98e-23ac4dcf9d68" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map{
    "Name": $.firstName ++ " " ++ $.lastName,
    "phoneNumber": $.phoneNumber,
    "Country": $.Country
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f578b623-2545-4d71-8f55-9723c8789f85" message="#[payload]"/>
	</flow>
</mule>
